.header {
    height: 15%;
}


.header_header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    margin-right: 1%;
}

.icons {
    margin-top: 0.375rem;
    text-align: left;
}

.button1 {
    text-align: left;
}

.button2 {
    text-align: right;
}

.image-one:hover {
    opacity:0;
}

.image-one {
    position: absolute;
}

.my_name{
    font-family: 'Montserrat', sans-serif;
}

.my_name h1 {
    font-weight: 200;
}




  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    background: rgb(196, 220, 255);
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    padding: 1%;
  }
  
  .popup .close {
    transition: all 200ms;
    font-size: 25px;
    height: 25px;
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .popup .close:hover {
    color: rgb(142, 143, 151);
  }


  .popup_text p{
    max-height: 30%;
    overflow: auto;
    color: #333;  
    margin-left: 1%;
    text-align: left;
    font-size: 13px;
    font-family: 'Sono', sans-serif;
  }
  
.popup2{
  width: 30%;
}

#popup2 img {
  width: 100%;
}


@media screen and (max-width: 450px) {
  .header_header{
    display: grid;
    justify-content: center;
  }
}

@media screen and (max-width: 1150px) {
  .popup2{
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .popup2{
    width: 50%;
    margin: 50px 0px 0px 0px;
  }
}